<div class="notes-app">
    <span class="header-row">
        <h1>Notes App</h1>
    <span class="button-row">
        <button (click)="toggleInput()" class="icon-button">
            <img src="../../../assets/icons/note-plus.svg"
            alt="Add new note">
        </button>
            <button class="theme-btn" (click)="onThemeChange()">
                <img  *ngIf="toggleTheme else elseImg" src="../../../assets/icons/dark-icon.svg" alt="Toggle theme">
                <ng-template #elseImg>
                    <img src="../../../assets/icons/light-icon.svg" alt="Toggle theme">
                </ng-template>
            </button>
        </span>
    </span>
    <span class="search-bar">
        <input type="text"  placeholder="Type here to search" name="SearchTerm" [(ngModel)]="searchNotes" (input)="onSearch()">
        <button class="cancel-btn" (click)="onCancelSearch()"></button>
    </span>
    <div *ngIf="showInput" class="modal-background">
        <div class="modal">
            <span class="modal-flex">
                <h3>
                    {{editId !== null ? 'Save Edit' : 'Create'}}
                </h3>
                <button class="cancel-btn" (click)="editId !== null ? cancelEditNote() : toggleInput()"></button>
            </span>
            <form (submit)="editId !== null ? saveEditNote() : addNote()" class="main-form">
                <textarea name="note" id="" cols="30" rows="10"
                placeholder="Write some notes"
                [(ngModel)]="inputNote"
                ></textarea>
                <div class="button-row">
                    <div class="color-list">
                        <span class="radio-btn" *ngFor="let color of colors">
                            <input type="radio" class="color-input"  [name]="color" [id]="color" [value]="color"  [(ngModel)]="inputColor" (change)="onColorChange(color)">
                            <label [for]="color" [class]="color" ></label>
                        </span>
                    </div>
                    <span>
                        <button class="submit-btn" type="submit">
                            {{editId !== null ? 'Save Edit' : 'Create'}}
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <ul>
        <li *ngFor="let note of notes;let i = index">
            <app-note-item [noteItem]="note" (setOnEdit)="setEditNote($event)" (onDelete)="deleteNote(note.id)"></app-note-item>
        </li>
    </ul>
</div>